git+https://github.com/Rapptz/discord.py@rewrite
lxml
colorthief
pyparsing
requests
sympy
psutil
bs4
cr-py
urban-async
moviepy
spice_api
cleverwrap
git+https://github.com/roundar/myjson
wikipedia
flickrapi
yarl<1.2
